<div *ngIf="covid" style="display: flex; flex-flow: row; width: inherit; height: inherit">
    <img src="https://image.flaticon.com/icons/png/512/3091/3091130.png" style="height: 80%; object-fit: contain; width: auto; margin-top: auto; margin-left: 10px; margin-bottom: auto" />
    <h3 style="margin-left: 10px; margin-right: auto; margin-top: auto; margin-bottom: auto">Global</h3>
    <div
        style="margin-left: 20px; display: flex; flex-flow: column; margin-top: auto; margin-bottom: auto; margin-right: auto; width: -webkit-fill-available">
        <p>New Confirmed: {{covid.NewConfirmed}}</p>
        <p>Total Confirmed: {{covid.TotalConfirmed}}</p>
        <p>Total Death: {{covid.TotalDeaths}}</p>
    </div>
</div>