<div class="app-widget">
    <div class="flex-menu">
        <div class="menu">
            <div class="menu-content-header" (click)="goToDashboard()">
                <img class="menu-content" src="assets/home.svg" alt="dashboard" />
                <h4 class="menu-content-label">Dashboard</h4>
            </div>
            <div class="menu-content-header">
                <img class="menu-content" src="assets/add-on2.svg" alt="add-on" />
                <h4 class="menu-content-label">Widgets</h4>
            </div>
            <div class="menu-content-header-down" (click)="goToTerms()">
                <img class="menu-content" src="assets/term.svg" alt="terms" />
                <h4 class="menu-content-label">Terms And Conditions</h4>
            </div>
            <div class="menu-content-header" (click)="goToAboutUs()">
                <img class="menu-content" src="assets/about-us.svg" alt="about-us" />
                <h4 class="menu-content-label">About us</h4>
            </div>
        </div>
        <div class="content">
            <div class="widget-parent">
                <div class="widget">
                    <myinstants-factory style="display: flex; width: inherit; height: inherit; background-image: url('https://cdn.suwalls.com/wallpapers/music/speakers-22359-1920x1080.jpg'); background-size: cover; border-radius: 6px;"></myinstants-factory>
                </div>
            </div>
            <div class="widget-parent">
                <div class="widget">
                    <weather-factory style="display: flex; width: inherit; height: inherit; background-image: url('http://www.99naturewallpapers.com/admin/assets/images/wallpapers/1366/beautiful-sunny-weather--green_1366x768.png'); background-size: cover; border-radius: 6px;"></weather-factory>
                </div>
            </div>
            <div class="widget-parent">
                <div class="widget">
                    <covid-total-factory style="display: flex; width: inherit; height: inherit; background-image: url('https://img.freepik.com/vecteurs-libre/coronavirus-background-bacteries-germes-cellule-virus-micro-organisme_139523-215.jpg?size=664&ext=jpg'); background-size: cover; border-radius: 6px;"></covid-total-factory>
                </div>
            </div>
            <div class="widget-parent">
                <div class="widget">
                    <covid-global-factory style="display: flex; width: inherit; height: inherit; background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20200325/pngtree-blue-gradient-color-corona-virus-creative-background-image_332733.jpg'); background-size: cover; border-radius: 6px;"></covid-global-factory>
                </div>
            </div>
            <div class="widget-parent">
                <div class="widget">
                    <time-factory style="display: flex; width: inherit; height: inherit; background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/23/50/4858345511b3cf5.jpg'); background-size: cover; border-radius: 6px;"></time-factory>
                </div>
            </div>
            <div class="widget-parent">
                <div class="widget">
                    <timezone-factory style="display: flex; width: inherit; height: inherit; background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/23/50/4858345511b3cf5.jpg'); background-size: cover; border-radius: 6px;"></timezone-factory>
                </div>
            </div>
            <div class="widget-parent">
                <div class="widget">
                    <drive-factory style="display: flex; width: inherit; height: inherit; background-image: url('https://wallpapercave.com/wp/wp2409685.jpg'); background-size: cover; border-radius: 6px;"></drive-factory>
                </div>
            </div>
            <div class="widget-parent">
                <div class="widget">
                    <imdb-factory style="display: flex; width: inherit; height: inherit; background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/1200px-IMDB_Logo_2016.svg.png'); background-size: cover; border-radius: 6px;"></imdb-factory>
                </div>
            </div>
        </div>
    </div>
</div>