<div class="app-about-us">
    <div class="flexAbout">
        <div class="centerElems">
            <h1>About us</h1>
            <div class="content-about-author">Authors of the project:<br /><br />
                <div class="auguste">Auguste ALEXANDRE</div>
                <img src="assets/Auguste.jpg" width="250" height="250"/>
                <div class="eliot">Eliot LE-GALL</div><br />
                <img src="assets/eliot.jpeg" width="250" height="250"/>
                <div class="content-about-describe">We are, both of us, 3rd year students in EPITECH Paris.</div>
            </div>
        </div>
    </div>
</div>