<div class="app-login">
    <div class="flex">
        <div class="form-box-inherit">
            <h1>Dashboard</h1>
            <div class="log-with-dashboard">
                <div class="line-left"></div>
                <p>Create new password !</p>
                <div class="line-right"></div>
            </div>
            <form>
                <div class="form-box">
                    <div class="flexbox">
                        <input [formControl]="password" type="password" name="password" id="password" placeholder="New password" />
                        <tips *ngIf="passwordSet == false" text="Enter password."></tips>
                    </div>
                    <div class="flexbox">
                        <input [formControl]="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm new password" style="margin-bottom: 0 !important"/>
                        <tips *ngIf="confirmPasswordSet == false" text="Enter password."></tips>
                    </div>
                </div>
                <div class="form-validate">
                    <a class="need-account" href="/login">Cancel ?</a>
                    <div class="flexbox">
                        <button class="sign-in" (click)="newPassword()">Create</button>
                        <tips *ngIf="errorSet == true" text="Something went wrong."></tips>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>