<div style="height: -webkit-fill-available">
    <weather *ngIf="init && parsedData.type == 'weather'" [data]="parsedData" style="width: 100%; height: 100%"></weather>
    <myinstant *ngIf="init && parsedData.type == 'myinstant'" [data]="parsedData" style="width: 100%; height: 100%"></myinstant>
    <covid-total *ngIf="init && parsedData.type == 'covid'" [data]="parsedData" style="width: 100%; height: 100%"></covid-total>
    <covid-global *ngIf="init && parsedData.type == 'covid-global'" [data]="parsedData" style="width: 100%; height: 100%"></covid-global>
    <time *ngIf="init && parsedData.type == 'timezone'" [data]="parsedData" style="width: 100%; height: 100%"></time>
    <timezone *ngIf="init && parsedData.type == 'time'" [data]="parsedData" style="width: 100%; height: 100%"></timezone>
    <drive *ngIf="init && parsedData.type == 'drive'" [data]="parsedData" style="width: 100%; height: 100%"></drive>
    <imdb *ngIf="init && parsedData.type == 'imdb'" [data]="parsedData" style="width: 100%; height: 100%"></imdb>
</div>
