<ng-template #content let-modal>
    <div class="modal-header" style="background-color: #2e3035">
      <h4 class="modal-title" id="modal-basic-title" style="color: white">Options</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close')">
        <span aria-hidden="true" style="color: white">&times;</span>
      </button>
    </div>
    <div class="modal-footer" style="background-color: #2e3035">
      <button (click)="modal.close('Validate')" style="height: 40px; width: 130px; background-color: #1bb76e; color: white; border-radius: 5px; appearance: none; border: 0px; font-weight: bold">Envoyer</button>
    </div>
</ng-template>

<div style="display: flex; width: inherit; height: inherit; cursor: pointer" (click)="open(content)">
    <h1 style="margin: auto; text-align: center">Covid-19 Global</h1>
</div>