<div class="app-login">
    <div class="flex">
        <div class="form-box-inherit">
            <h1>Dashboard</h1>
            <div class="log-with-dashboard">
                <div class="line-left"></div>
                <p>Register</p>
                <div class="line-right"></div>
            </div>
            <form>
                <div class="form-box">
                    <div class="flexbox">
                        <input [formControl]="email" type="text" name="email" id="email" placeholder="Email" />
                        <tips *ngIf="emailSet === false" text="Enter your email."></tips>
                    </div>
                    <div class="flexbox">
                        <input [formControl]="password" type="password" name="password" id="password" placeholder="Password" />
                        <tips *ngIf="passwordSet == false" text="Enter your password."></tips>
                    </div>
                    <div class="flexbox">
                        <input [formControl]="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" style="margin-bottom: 0 !important"/>
                        <tips *ngIf="confirmPasswordSet == false" text="Enter your password."></tips>
                    </div>
                </div>
                <div class="form-validate">
                    <a class="need-account" href="/login">have already an account?</a>
                    <div class="flexbox">
                        <button class="sign-in" (click)="register()">Register</button>
                        <!-- <tips *ngIf="loginSet == true" text="Wrong credentials."></tips> -->
                        <tips *ngIf="errorSet == true" text="Something went wrong."></tips>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>